<div class="logout-div">
	<span id="current-user"></span>
	<button id="logout"><i class="fa fa-sign-out"></i> Log Out</button>
</div>

<h3>Task-list</h3>

<form id="add-task">
	<input type="text" class="task-title" maxlength="150" placeholder="New Task">
	<button><i class="fa fa-plus"></i></button>
	<p class="message"></p>
</form>

<div id="tasks-div">
	<label for="check-all"><i class="fa fa-square-o"></i>
		<input type="checkbox" id="check-all"/>
		<span id="check-text">Check all</span>
	</label>

	<ul id="task-list">
	</ul>

</div>

<div id="filters-div">
	<button id="completed">Completed</button>
	<button id="incompleted">Incompleted</button>
	<button id="all-user-tasks">All tasks</button>
	<p><button id="clear-tasklist">Delete checked</button>
</div>